{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="text-center mt-2">
  <button><a href="{% url 'edit_profile' request.user.id%}">Edit Profile</a></button>
</div>
<br />
<hr />
{% if messages %} {%for mess in messages %}
<h5 class="bg-warning text-center">{{ mess }}</h5>
{% endfor %} {% endif %}
<br />

  <div class="row d-flex flex-wrap" style="width: 90%; margin: auto">
    {% for data in car %}
    <div
      class="card col-lg-4 col-md-4 col-sm-12 m-1 bg-success-subtle"
      style="width: 20rem"
    >
      <img src="{{data.car_image.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Car Name : {{data.car_name}}</h5>
        <h5 class="card-title">Car Price : {{data.car_price}}</h5>
        <h5 class="card-title">
          Car Brand Name : {{data.car_brand_name.brand_name}}
        </h5>
        <p class="card-title">
          Car Details : {{data.car_brand_name.description}}
        </p>
      </div>
    </div>
      {% endfor %}
  </div>
  {% endblock %}

